.armor.component {

	.armor-container {
		margin-top: 4px;
		width: 100%;
	}

	.armor-container .inline-block {
		vertical-align: top;
	}

	.numberInput {
		border-bottom: 1px solid #aaaaaa;
		height: 21px;
		width: 35px;
	}

	.input {
		height: 21px;
	}

	.input input[type=number] {
		width: 35px;
	}

	.textInput {
		border-bottom: 1px solid #aaaaaa;
		text-align: left;
		width: 100%;
	}

	.numberInput, .armor.component .checkbox-input {
		text-align: center;
	}
}
