.armor.component {

	.armor-container {
		margin-top: 4px;

		.labeled-input {
			margin-top: 0;
			vertical-align: top;
		}

		.type-data {
			min-width: 100px;
		}
	}

    .numberInput {
        width: 35px;
    }

    .numberInput, .checkbox-input {
        text-align: center;
    }
}
