.armor.component .label {
    font-size: 8pt;
    color: #333333;
}

.armor.component .textInput {
    height: 18px;
    border-bottom: 1px solid #aaaaaa;
    height: 100%;
    max-width: 100%;
    margin-top: 3px;
}

.armor.component .numberInput {
    height: 18px;
    height: 100%;
    max-width: 15px;
    text-align: center;
}

.armor.component .armor-stat {
    margin-top: 3px;
    border-bottom: 1px solid #777777;
    margin-top: 3px;
    width: 60px;
}
