.armor.component .armor-container {
    margin-top: 4px;
    width: 100%;
}

    .armor.component .armor-container .inline-block {
        vertical-align: top;
    }

.armor.component .numberInput {
    border-bottom: 1px solid #aaaaaa;
    height: 21px;
    width: 35px;
}

.armor.component .input {
    height: 21px;
}

    .armor.component .input input[type=number] {
        width: 35px;
    }

.armor.component .textInput {
    border-bottom: 1px solid #aaaaaa;
    text-align: left;
    width: 100%;
}

.armor.component .numberInput, .armor.component .checkbox-input {
    text-align: center;
}
