@import '../constants.less';

.component.attacks {

    .attack-container {
        .params-block {
            width: 49%;
            vertical-align: top;

			.range-container {
				margin-top: 4px;

				.type-data {
					width: 49%;
				}

				.range-data {
					width: 24%;
				}

				.is-ranged-data {
					width: 20%;
				}

				.labeled-input {
					margin-top: 0;
					vertical-align: top;
				}
			}
        }

        .stats-block {
            width: 49%;

            .cell.total {
                width: 96px;
            }

			.weapon-damage {
				width: 96px;
			}

			.fillable-formula {
				margin-top: 0;
			}
        }
    }

	.attack-container:nth-child(even){
		background-color: @evenRowColor;
	}
}