@import '../constants.less';

.component.attacks {

    .attack-container {
        .params-block {
            width: 49%;
            vertical-align: top;

			.range-container {

				.labeled-input {
					width: 49%;
				}
			}
        }

        .stats-block {
            width: 49%;

            .cell.total {
                width: 120px;
            }
        }
    }

	.attack-container:nth-child(even){
		background-color: @evenRowColor;
	}
}