.character.component {

	.character-params-container {
		display: flex;
		flex-direction: row;

		.alignment {
			.alignment-hor-label {
				text-align: center;
			}

			.left-label {
				transform-origin: 60% 20%;
			}

			.right-label {
				transform-origin: 30% 110%;
			}
		}

		.character-params {
			vertical-align: top;
			align-self: stretch;
			flex-grow: 1;

			.character-params-row {
				margin-top: 4px;

				.inline-block {
					vertical-align: top;

					&.name-data {
						width: 49%;
					}

					&.background-data {
						width: 49%;
					}
				}

				.race-data {
					min-height: 20px;
					align-items: stretch;
				}

				.size {
					width: 110px;
				}
			}
		}
	}



	.effective-level, .proficiency-bonus {
		font-size: 14px;
	}

	.common-table tbody td {
		border-bottom: 1px dotted black;
	}

	tr {
		height: 18px;
	}

	.char-class {
		width: 140px;
	}

	.char-hd, .char-lvl {
		width: 40px;
	}

	select {
		width: 100%;
	}

	input[type=number] {
		width: 100%;
	}
}
