.character.component .cloakFieldContainer {
    height: 18px;
    border-bottom: 1px solid #aaaaaa;
    min-width: 110px;
}

.character.component .alignment-hor-label {
    text-align: center;
}

.character.component .left-label {
    transform-origin: 60% 20%;
}

.character.component .right-label {
    transform-origin: 30% 110%;
}

.character.component .race-data {
    min-height: 20px;
    align-items: stretch;
    width: 100%;
}

.character.component .effective-level, .character.component .proficiency-bonus {
    font-size: 14px;
}

.character.component .common-table tbody td {
    border-bottom: 1px dotted black;
}

.character.component tr {
    height: 18px;
}

.character.component .char-class {
    width: 140px;
}

.character.component .char-hd, .character.component .char-lvl {
    width: 40px;
}

.character.component select {
    width: 100%;
}

.character.component input[type=number] {
    width: 100%;
}
