.character.component {

    .cloakFieldContainer {
        height: 18px;
        border-bottom: 1px solid #aaaaaa;
        width: 155px;

        input[type=text] {
            width: 100%;
        }
    }

    .alignment-hor-label {
        text-align: center;
    }

    .left-label {
        transform-origin: 60% 20%;
    }

    .right-label {
        transform-origin: 30% 110%;
    }

    .race-data {
        min-height: 20px;
        align-items: stretch;
    }

    .size {
        width: 110px;
    }

    .effective-level, .proficiency-bonus {
        font-size: 14px;
    }

    .common-table tbody td {
        border-bottom: 1px dotted black;
    }

    tr {
        height: 18px;
    }

    .char-class {
        width: 140px;
    }

    .char-hd, .char-lvl {
        width: 40px;
    }

    select {
        width: 100%;
    }

    input[type=number] {
        width: 100%;
    }
}
