.common-inventory.component tbody td {
    border-bottom: 1px dotted black;
}

.common-inventory.component tr {
    height: 18px;
    max-width: 143px;
}

.common-inventory.component input[type=text] {
    width: 100%;
}

.common-inventory.component input[type=number] {
    width: 50px;
}

.common-inventory.component .total-weight {
    font-size: 14px;
}

.common-inventory.component .item-weight, .common-inventory.component .item-quantity {
    width: 55px;
}
