.inventory.component tbody td {
    border-bottom: 1px dotted black;
}

.inventory.component tr {
    height: 18px;
    max-width: 143px;
}

.inventory.component .item-weight, .inventory.component .item-quantity {
    width: 55px;
}

.inventory.component input[type=text] {
    width: 100%;
}

.inventory.component input[type=number] {
    width: 50px;
}
