.languages.component {

    .languages-list {
    }

    .add-language {
        margin-top: 10px;

        .button-container {
            vertical-align: top;
        }
    }

    .language-item {
        border-bottom: 1px dotted #aaaaaa;

        .remove-language {
            visibility: hidden;
        }

        &:hover .remove-language {
            visibility: visible;
        }
    }
}
