@import '../constants.less';

.logo.component {

	img {
		width: 50px;
		height: 25px;
		vertical-align: top;
	}

	span {
		color: @highlightColor;
		font-family: dungeonFont, sans-serif;
		text-transform: uppercase;
		font-weight: 800;
		vertical-align: bottom;
	}
}
