.shield.component .shield-container {
    margin-top: 4px;
    width: 100%;
}

    .shield.component .shield-container .inline-block {
        vertical-align: top;
    }

.shield.component .input {
    border-bottom: 1px solid #aaaaaa;
    height: 21px;
}

    .shield.component .input input[type=number] {
        width: 33px;
    }

.shield.component .textInput {
    text-align: left;
    width: 100%;
}

.shield.component .numberInput {
    text-align: center;
}
