.shield.component .label {
    font-size: 8pt;
    color: #333333;
}

.shield.component .textInput {
    height: 18px;
    border-bottom: 1px solid #aaaaaa;
    height: 100%;
    max-width: 100%;
}

.shield.component .numberInput {
    height: 18px;
    height: 100%;
    border-bottom: 1px solid #777777;
    max-width: 30px;
    text-align: center;
}

.shield.component .shield-stat {
    margin-top: 3px;
}

.shield.component input[type=number] {
    max-width: 33px;
    max-height: 18px;
}
