.skills.component thead {
    font-weight: bold;
    color: #666666;
    font-size: 12px;
    padding: 2px 10px;
    text-align: center;
}

.skills.component tbody {
    font-size: 14px;
    padding: 2px 10px;
    text-align: center;
}

    .skills.component tbody td {
        border-bottom: 1px dotted black;
    }

.skills.component .left {
    float: left;
    margin-right: 6px;
}

.skills.component table tr td:first-child {
    text-align: left;
}

.skills.component .right {
    float: right;
    padding: 0px;
    text-align: right;
}

.skills.component .is-proficient {
    min-width: 20px;
    min-height: 20px;
}

    .skills.component .is-proficient input[type=checkbox] {
        margin: 0;
    }
