.app .container {
    width: 100%;
    min-height: 50px;
}

.app .container .container-box {
    display: inline-block;
    min-height: 50px;
    box-sizing: border-box;
    padding: 5px;
}

.app.edit-mode .container .container-box {
    border: 1px solid black;
}

.app [ng-drop].drag-enter {
    background-color: powderblue;
}