@media print {
    .container-box {
        border: none;
    }
}

@media screen {
    .app.edit-mode .container .container-box {
        border: 1px solid black;
    }
}

.app .container {
    width: 100%;
    min-height: 50px;

    display: flex;
}

.app .container .container-box {
    display: inline-block;
    min-height: 50px;
    box-sizing: border-box;
    padding: 5px;

    align-items: stretch;
}

.app [ng-drop].drag-enter {
    background-color: powderblue;
}