@import "../constants.less";

table.common-table {
	overflow: hidden;
	white-space: nowrap;
	width: 100%;

	thead {
		font-weight: bold;
		color: #666666;
		font-size: 12px;
		padding: 2px 10px;
		text-align: center;
	}

	tbody {
		font-size: 14px;
		padding: 2px 10px;
		text-align: center;

        tr {
            td {
                border-bottom: 1px dotted @borderColor;
                height: @rowHeight;

                &.total {
                    border: 1px solid @borderColor;
                }
            }
        }
	}

	tr td:first-child {
		text-align: left;
	}
}
