/*    Styles for application    */

@page {
    size: A4;
    margin: 0;
}

@media screen {
    .app {
        padding: 10px;
    }
}

@media print {
    .app {
        padding: 0;
        margin: 0;
    }

    .page-break {
        display: none;
    }

    .non-printable {
        display: none;
    }
}

@font-face {
    font-family: dungeonFont;
    src: url('../../fonts/dalelands_uncial.otf');
}

.app .a4-sheet {
    margin: 0 auto;
    padding: 5mm;

    border: 1px black solid;

    width: 210mm;
    height: 297mm;
}

.app .page-break {
    min-height: 10px;
    width: 100%;
}