/*    Common styles for all components    */

.component {
    width: 100%;
    margin-bottom: 10px;
}

.component .header {
    background-color: gray;
    text-transform: uppercase;
    color: white;
    padding: 2px 10px;
    text-align: center;

    font-family: dungeonFont, sans-serif;
}

.component .label {
    font-size: 8pt;
    color: #333333;
}