@import 'constants.less';

.component {
    width: 100%;
    margin-bottom: 10px;

    .header {
        background-color: @headerColor;
        text-transform: uppercase;
        color: @headerFontColor;
        padding: 2px 10px;
        text-align: center;
        font-family: @dungeonFont;
    }

    .label {
        font-size: @labelSize;
        color: @labelColor;
    }

    .major-label {
        font-size: @majorLabelSize;
        color: @majorLabelColor;
    }

    table.fixed-table {
        table-layout: fixed;
    }

    .left {
        float: left;
        margin-right: 6px;
    }
}
