@evenRowColor: #E0E0E0;

@highlightColor: #FF0000;

@emphasizedBorderColor: #333333;

@obscuredBorderColor: #888888;

@rowHeight: 22px;

@dungeonFont: dungeonFont, sans-serif;

@labelColor: #333333;

@labelSize: 8pt;