/*    Styles for menu    */

@media screen {
    .menu {
        position: fixed;
        right: 10px;
        top: 10px;
    }
}

@media print {
    .menu {
        display: none;
    }
}

.menu {
    background-color: darkseagreen;

    min-width: 200px;
}