<div class="menu">
    <div class="logo">
        <img src="images/short_logo.png"/>
    </div>
    <div class="section">
        <button ng-click="app.newDocument()">New</button>
        <button ng-click="app.save()" ng-disabled="app.autoSaving()">Save</button>
        <button ng-click="app.toggleLoad()">Load</button>
        <button ng-click="app.updateLink()">Link</button>
    </div>
    <div class="section" ng-if="app.isLoadOpened()">
        <div ng-repeat="savedCharlist in app.savedCharlists">
            <button ng-click="app.load(savedCharlist)">{{ savedCharlist }}</button>
            <button ng-click="app.delete(savedCharlist)">Delete</button>
        </div>
        
    </div>
	<div class="section">
		<button ng-click="app.print()">Print</button>
		<button ng-click="app.toggleEditing()">{{ app.isEditMode() ? 'Finish edit' : 'Edit Layout' }}</button>
	</div>
	<div ng-if="app.isEditMode()" class="section">
		<div class="header">Layouts</div>

		<div class="layout-block" ng-drag="true" ng-drag-data="{ type: 'block', columns: [ '33%', '67%' ] }">
			<div class="layout-icon" style="width: 33px">X</div>
			<div class="layout-icon" style="width: 66px">2 * X</div>
		</div>

		<div class="layout-block" ng-drag="true" ng-drag-data="{ type: 'block', columns: [ '67%', '33%' ] }">
			<div class="layout-icon" style="width: 66px">2 * X</div>
			<div class="layout-icon" style="width: 33px">X</div>
		</div>

		<div class="layout-block" ng-drag="true" ng-drag-data="{ type: 'block', columns: [ '50%', '50%' ] }">
			<div class="layout-icon" style="width: 50px">X</div>
			<div class="layout-icon" style="width: 50px">X</div>
		</div>
	</div>

	<div ng-if="app.isEditMode()" class="section" ng-drop="true">
		DROP COMPONENT
	</div>

	<div ng-if="app.isEditMode()" class="section">
		<div class="header">Controls</div>
		<div class="layout-control" ng-repeat="control in app.getAvailableModules" ng-drag="true" ng-drag-data="{ template: control.template, type: 'component' }">
			{{ control.name }}
		</div>
	</div>
</div>