<div class="armor component" ng-controller="armorController as controller">
    <div class="header">Armor</div>

    <div class="textInput">
        <div class="label">Name</div>
        <div cloak-field class="armorName" data-model="controller.armor.name">
            <input type="text" ng-model="controller.armor.name" />
        </div>
    </div>

    <div class="textInput">
        <div class="label">Type</div>
        <div cloak-field class="armorType" data-model="controller.armor.type">
            <input type="text" ng-model="controller.armor.type" />
        </div>
    </div>

    <span class="inline-block">
        <span class="label">AC Bonus</span>
        <span cloak-field class="numberInput" data-model="controller.armor.armorClass">
            <input type="number" min="1" ng-model="controller.armor.armorClass" />
        </span>
    </span>

    <span class="inline-block">
        <span class="label">Weight</span>
        <span cloak-field class="numberInput" data-model="controller.armor.weight">
            <input type="number" min="0" ng-model="controller.armor.weight" />
        </span>
    </span>
    <span class="inline-block">
        <span class="label">DEX lim</span>
        <span cloak-field class="numberInput" data-model="controller.armor.maxDexBonus">
            <input type="number" min="0" ng-model="controller.armor.maxDexBonus" />
        </span>
    </span>
    <div>
        <div class="label">Stealth dAdv</div>
		<div cloak-field data-model="controller.armor.stealthDisadvantage ? '✓' : '-'">
			<input type="checkbox" ng-model="controller.armor.stealthDisadvantage" />
		</div>
    </div>


</div>