<div class="character component" ng-controller="characterController as character">
    <div class="header">Character</div>

    <div class="itemContainer">
        <div class="label">Race</div>
        <div cloak-field data-model="character.model.race.name" style="height: 100px;">
            <select ng-model="character.model.race">
                <option ng-repeat="race in character.availableRaces" ng-value="race">{{race.name}}</option>
            </select>
        </div>
    </div>

    <div class="itemContainer">
        <div class="label">Name</div>
        <div cloak-field class="cloakFieldContainer name" data-model="character.model.name">
            <input type="text" ng-model="character.model.name"/>
        </div>
    </div>

    <div class="itemContainer">
        <table>
            <tr>
                <td></td>
                <td colspan="3">Good</td>
                <td></td>
            </tr>
            <tr>
                <td class="rotate270" rowspan="3">Lawful</td>
                <td><input type="radio" name="alignment" value="1" ng-model="character.model.alignment"/></td>
                <td><input type="radio" name="alignment" value="2" ng-model="character.model.alignment"/></td>
                <td><input type="radio" name="alignment" value="3" ng-model="character.model.alignment"/></td>
                <td class="rotate270" rowspan="3">Chaotic</td>
            </tr>
            <tr>
                <td><input type="radio" name="alignment" value="4" ng-model="character.model.alignment"/></td>
                <td><input type="radio" name="alignment" value="5" ng-model="character.model.alignment"/></td>
                <td><input type="radio" name="alignment" value="6" ng-model="character.model.alignment"/></td>
            </tr>
            <tr>
                <td><input type="radio" name="alignment" value="7" ng-model="character.model.alignment"/></td>
                <td><input type="radio" name="alignment" value="8" ng-model="character.model.alignment"/></td>
                <td><input type="radio" name="alignment" value="9" ng-model="character.model.alignment"/></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">Evil</td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="itemContainer">
        <div>
            <label> Male
                <input type="radio" name="race" value="true" ng-model="character.model.isMale"/>
            </label>
            <label> Female
                <input type="radio" name="race" value="false" ng-model="character.model.isMale"/>
            </label>
        </div>
    </div>

    <div class="itemContainer">
        <table>
            <thead>
            <tr>
                <td colspan="2">Classes</td>
                <td>Skill ranks</td>
                <td>Hit Die</td>
                <td>Level</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="class in character.model.classes">
                <td>{{$index + 1}}</td>
                <td>{{class.name + (class.archetype ? '(' + class.archetype + ')' : '')}}</td>
                <td>d{{class.skillRanks}}</td>
                <td>d{{class.hitDie}}</td>
                <td>
                    <cloak-field data-model="class.level">
                        <input type="number" min="1" max="20" ng-model="class.level"/>
                    </cloak-field>
                </td>
                <td>
                    <button ng-click="character.removeClass(class)">-</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <button>+</button>
            <!--<select class="ac-select stateList" ac-model="controller.pendingLanguage" ac-options="availableLanguage for availableLanguage in controller.availableLanguages"-->
            <!--ac-settings="{ comboMode: true, loadOnOpen: true }">-->
            <!--</select>-->
            <!--<select class="ac-select stateList" ac-model="controller.pendingLanguage" ac-options="availableLanguage for availableLanguage in controller.availableLanguages"-->
            <!--ac-settings="{ comboMode: true, loadOnOpen: true }">-->
            <!--</select>-->
        </div>
        <div>Effective level:</div>
        <div ng-bind="character.effectiveLevel()"></div>
    </div>
</div>