<div class="component death-saves">
    <div class="header">Death Saves</div>

    <div class="deathSaves-container">
        <span>Successes</span>
        <div class="deathSaves-right">
            <input type="radio" />
            <input type="radio" />
            <input type="radio" />
        </div>
    </div>
    <div class="deathSaves-container">
        <span>Failures</span>
        <div class="deathSaves-right">
            <input type="radio" />
            <input type="radio" />
            <input type="radio" />
        </div>
    </div>
</div>
