<div class="component hit-points" ng-controller="hitPointsController as controller">
    <div class="header">HP</div>

    <table class="fillable-formula">
        <tr>
            <td class="cell total max-cell" ng-bind="controller.maxHitPoints()"></td>
            <td>=</td>
            <td class="cell summand base-cell" cloak-field data-model="controller.model.baseHitPoints">
                <input type="number" min="1" step="1" ng-model="controller.model.baseHitPoints" />
            </td>
            <td>+</td>
            <td class="cell summand bonus-cell" cloak-field data-model="controller.model.bonusDefined() ? controller.model.hitPointsBonus() : ''">
                <input type="number" ng-model="controller.model.userDefinedBonus" />
            </td>
        </tr>
        <tr>
            <td class="major-label max-cell">Max</td>
            <td></td>
            <td class="label base-cell">Base</td>
            <td></td>
            <td class="label bonus-cell">Bonus</td>
        </tr>
    </table>

    <div class="labeled-input bottom-label current-hitpoints">
        <div cloak-field data-model="controller.model.currentHitPoints">
            <input type="number" ng-model="controller.model.currentHitPoints" />
        </div>
        <div class="label">Current</div>
    </div>
</div>