<div class="component money" ng-controller="moneyController as controller">
    <div class="header">Money</div>

	<div class="labeled-input inline-block money-container">
		<div class="label">Platinum</div>
		<div cloak-field data-model="controller.model.platinum">
			<input type="number" min="0" ng-model="controller.model.platinum"/>
		</div>
	</div>

	<div class="labeled-input inline-block money-container">
		<div class="label">Gold</div>
		<div cloak-field data-model="controller.model.gold">
			<input type="number" min="0" ng-model="controller.model.gold" />
		</div>
	</div>

	<div class="labeled-input inline-block money-container">
		<div class="label">Electrum</div>
		<div cloak-field data-model="controller.model.electrum">
			<input type="number" min="0" ng-model="controller.model.electrum" />
		</div>
	</div>

	<div class="labeled-input inline-block money-container">
		<div class="label">Silver</div>
		<div cloak-field data-model="controller.model.silver">
			<input type="number" min="0" ng-model="controller.model.silver" />
		</div>
	</div>

	<div class="labeled-input inline-block money-container">
		<div class="label">Copper</div>
		<div cloak-field data-model="controller.model.copper">
			<input type="number" min="0" ng-model="controller.model.copper" />
		</div>
	</div>

    <div class="total-block">Total: {{ controller.model.total() }}</div>
</div>