<div class="player component" ng-controller="playerController as player">
    <div class="header">Player</div>

    <div class="itemContainer">
        <div class="label">Player name</div>
        <div class="cloakFieldContainer name" cloak-field data-model="player.model.name"></div>
    </div>
    <div class="itemContainer">
        <div class="label">Campaign</div>
        <div class="cloakFieldContainer campaign" cloak-field data-model="player.model.campaign"></div>
    </div>
    <div class="itemContainer">
        <div class="label">XP</div>
        <div class="cloakFieldContainer xp" cloak-field data-model="player.model.XP"></div>
    </div>
</div>