<div class="potions component" ng-controller="inventoryController as inventory">
	<div class="header">Potions</div>

	<div class="flex-table">
		<table class="common-table fixed-table">
			<thead>
				<tr>
					<td class="item-name">Name</td>
					<td class="item-weight">Weight(x1)</td>
					<td class="item-quantity">Qty</td>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in inventory.model.potions">
					<td class="item-name">
						<div cloak-field data-model="item.name">
							<input type="text" ng-model="item.name" />
						</div>
					</td>
					<td class="item-weight">
						<div cloak-field data-model="item.weight">
							<input type="number" min="0" step="0.1" ng-model="item.weight" />
						</div>
					</td>
					<td class="item-quantity">
						<div cloak-field data-model="item.quantity">
							<input type="number" min="0" ng-model="item.quantity" />
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>