<div class="component saveThrows" ng-controller="saveThrowController as controller">
    <div class="header">Save Throws</div>

    <div class="saveThrowsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total"> {{controller.saveThrows.strSave()}}</td>
                <td>=</td>
                <td class="cell summand min-input"> {{controller.stats.strModifier()}}</td>
                <td>+</td>
                <td class="cell summand min-input"> {{controller.saveThrows.isStrProficient ? controller.character.proficiencyBonus() : ''}}</td>
                <td class="checkbox-container" cloak-field data-model="controller.saveThrows.isStrProficient ? '✓' : '-'">
                    <input type="checkbox" ng-model="controller.saveThrows.isStrProficient" />
                </td>
            </tr>
            <tr>
                <td class="major-label">Str</td>
                <td></td>
                <td class="label">STR</td>
                <td></td>
                <td class="label">Prof.</td>
                <td class="label">Proficient</td>
            </tr>
        </table>
    </div>

    <div class="saveThrowsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total"> {{controller.saveThrows.dexSave()}}</td>
                <td>=</td>
                <td class="cell summand min-input"> {{controller.stats.dexModifier()}}</td>
                <td>+</td>
                <td class="cell summand min-input"> {{controller.saveThrows.isDexProficient ? controller.character.proficiencyBonus() : ''}}</td>
                <td class="checkbox-container" cloak-field data-model="controller.saveThrows.isDexProficient ? '✓' : '-'">
                    <input type="checkbox" ng-model="controller.saveThrows.isDexProficient" />
                </td>
            </tr>
            <tr>
                <td class="major-label">Dex</td>
                <td></td>
                <td class="label">DEX</td>
                <td></td>
                <td class="label">Prof.</td>
                <td class="label">Proficient</td>
            </tr>
        </table>
    </div>

    <div class="saveThrowsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total">{{controller.saveThrows.conSave()}}</td>
                <td>=</td>
                <td class="cell summand min-input">{{controller.stats.conModifier()}}</td>
                <td>+</td>
                <td class="cell summand min-input">{{controller.saveThrows.isConProficient ? controller.character.proficiencyBonus() : ''}}</td>
                <td class="checkbox-container" cloak-field data-model="controller.saveThrows.isConProficient ? '✓' : '-'">
                    <input type="checkbox" ng-model="controller.saveThrows.isConProficient" />
                </td>
            </tr>
            <tr>
                <td class="major-label">Con</td>
                <td></td>
                <td class="label">CON</td>
                <td></td>
                <td class="label">Prof.</td>
                <td class="label">Proficient</td>
            </tr>
        </table>
    </div>

    <div class="saveThrowsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total">{{controller.saveThrows.intSave()}}</td>
                <td>=</td>
                <td class="cell summand min-input">{{controller.stats.intModifier()}}</td>
                <td>+</td>
                <td class="cell summand min-input">{{controller.saveThrows.isIntProficient ? controller.character.proficiencyBonus() : ''}}</td>
                <td class="checkbox-container" cloak-field data-model="controller.saveThrows.isIntProficient ? '✓' : '-'">
                    <input type="checkbox" ng-model="controller.saveThrows.isIntProficient" />
                </td>
            </tr>
            <tr>
                <td class="major-label">Int</td>
                <td></td>
                <td class="label">INT</td>
                <td></td>
                <td class="label">Prof.</td>
                <td class="label">Proficient</td>
            </tr>
        </table>
    </div>

    <div class="saveThrowsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total">{{controller.saveThrows.wisSave()}}</td>
                <td>=</td>
                <td class="cell summand min-input">{{controller.stats.wisModifier()}}</td>
                <td>+</td>
                <td class="cell summand min-input">{{controller.saveThrows.isWisProficient ? controller.character.proficiencyBonus() : ''}}</td>
                <td class="checkbox-container" cloak-field data-model="controller.saveThrows.isWisProficient ? '✓' : '-'">
                    <input type="checkbox" ng-model="controller.saveThrows.isWisProficient" />
                </td>
            </tr>
            <tr>
                <td class="major-label">Wis</td>
                <td></td>
                <td class="label">WIS</td>
                <td></td>
                <td class="label">Prof.</td>
                <td class="label">Proficient</td>
            </tr>
        </table>
    </div>

    <div class="saveThrowsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total"> {{controller.saveThrows.chaSave()}}</td>
                <td>=</td>
                <td class="cell summand min-input">{{controller.stats.chaModifier()}}</td>
                <td>+</td>
                <td class="cell summand min-input">{{controller.saveThrows.isChaProficient ? controller.character.proficiencyBonus() : ''}}</td>
                <td class="checkbox-container" cloak-field data-model="controller.saveThrows.isChaProficient ? '✓' : '-'">
                    <input type="checkbox" ng-model="controller.saveThrows.isChaProficient" />
                </td>
            </tr>
            <tr>
                <td class="major-label">Cha</td>
                <td></td>
                <td class="label">CHA</td>
                <td></td>
                <td class="label">Prof.</td>
                <td class="label">Proficient</td>
            </tr>
        </table>
    </div>
</div>