<div class="skills component" ng-controller="skillsController as controller">
    <div class="header">Skills</div>

    <table>
        <thead>
            <tr>
                <td>
                    <span class="inline-block left">Name</span>
                    <span class="inline-block right">Proficient</span>
                </td>
                <td>Value</td>
                <td>Stats</td>
                <td>Proficiency</td>
                <td>Misc</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in controller.model">
                <td>
                    <span class="inline-block left">{{item.name}} ({{item.modName}})</span>
                    <span class="inline-block right is-proficient" cloak-field data-model="item.haveProficiency ? '✓' : '-'">
                        <input type="checkbox" ng-model="item.haveProficiency" />
                    </span>
                </td>
                <td class="skills-value" ng-bind="item.value()"></td>
                <td ng-bind="item.statsBonus()"></td>
                <td ng-bind="item.proficiencyBonus()"></td>
                <td>
                    <div cloak-field data-model="item.miscBonus">
                        <input type="number" ng-model="item.miscBonus" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>