<div class="stats component" ng-controller="statsController as controller">
    <div class="header">Stats</div>

    <div class="statsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total" ng-bind="controller.printableStrModifier()"></td>
                <td>=</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.strength">
                    <input type="number" min="1" max="20" ng-model="controller.stats.strength" />
                </td>
                <td>+</td>
                <td class="cell summand" cloak-field data-model="controller.racialStrBonus()">
                    <input type="number" ng-model="controller.stats.customRacialStrBonus" />
                </td>
                <td>+</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.strBonus">
                    <input type="number" ng-model="controller.stats.strBonus" />
                </td>
            </tr>
            <tr>
                <td class="major-label">STR</td>
                <td></td>
                <td class="label">Strength</td>
                <td></td>
                <td class="label">Racial</td>
                <td></td>
                <td class="label">Misc</td>
            </tr>
        </table>
    </div>
	<div class="statsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total" ng-bind="controller.printableDexModifier()"></td>
                <td>=</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.dexterity">
                    <input type="number" min="1" max="20" ng-model="controller.stats.dexterity" />
                </td>
                <td>+</td>
                <td class="cell summand" cloak-field data-model="controller.racialDexBonus()">
                    <input type="number" ng-model="controller.stats.customRacialDexBonus"/>
                </td>
                <td>+</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.dexBonus">
                    <input type="number" ng-model="controller.stats.dexBonus" />
                </td>
            </tr>
            <tr>
                <td class="major-label">DEX</td>
                <td></td>
                <td class="label">Dexterity</td>
                <td></td>
                <td class="label">Racial</td>
                <td></td>
                <td class="label">Misc</td>
            </tr>
        </table>
    </div>
		<div class="statsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total" ng-bind="controller.printableConModifier()"></td>
                <td>=</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.constitution">
                    <input type="number" min="1" max="20" ng-model="controller.stats.constitution" />
                </td>
                <td>+</td>
                <td class="cell summand" cloak-field data-model="controller.racialConBonus()">
                    <input type="number" ng-model="controller.stats.customRacialConBonus"/>
                </td>
                <td>+</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.conBonus">
                    <input type="number" ng-model="controller.stats.conBonus" />
                </td>
            </tr>
            <tr>
                <td class="major-label">CON</td>
                <td></td>
                <td class="label">Constitution</td>
                <td></td>
                <td class="label">Racial</td>
                <td></td>
                <td class="label">Misc</td>
            </tr>
        </table>
    </div>
		<div class="statsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total" ng-bind="controller.printableIntModifier()"></td>
                <td>=</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.intelligence">
                    <input type="number" min="1" max="20" ng-model="controller.stats.intelligence" />
                </td>
                <td>+</td>
                <td class="cell summand" cloak-field data-model="controller.racialIntBonus()">
                    <input type="number" ng-model="controller.stats.customRacialIntBonus"/>
                </td>
                <td>+</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.intBonus">
                    <input type="number" ng-model="controller.stats.intBonus" />
                </td>
            </tr>
            <tr>
                <td class="major-label">INT</td>
                <td></td>
                <td class="label">Intelligence</td>
                <td></td>
                <td class="label">Racial</td>
                <td></td>
                <td class="label">Misc</td>
            </tr>
        </table>
    </div>	
		<div class="statsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total" ng-bind="controller.printableWisModifier()"></td>
                <td>=</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.wisdom">
                    <input type="number" min="1" max="20" ng-model="controller.stats.wisdom" />
                </td>
                <td>+</td>
                <td class="cell summand" cloak-field data-model="controller.racialWisBonus()">
                    <input type="number" ng-model="controller.stats.customRacialWisBonus"/>
                </td>
                <td>+</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.wisBonus">
                    <input type="number" ng-model="controller.stats.wisBonus" />
                </td>
            </tr>
            <tr>
                <td class="major-label">WIS</td>
                <td></td>
                <td class="label">Wisdom</td>
                <td></td>
                <td class="label">Racial</td>
                <td></td>
                <td class="label">Misc</td>
            </tr>
        </table>
    </div>
		<div class="statsBlock">
        <table class="fillable-formula">
            <tr>
                <td class="cell total" ng-bind="controller.printableChaModifier()"></td>
                <td>=</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.charisma">
                    <input type="number" min="1" max="20" ng-model="controller.stats.charisma" />
                </td>
                <td>+</td>
                <td class="cell summand" cloak-field data-model="controller.racialChaBonus()">
                    <input type="number" ng-model="controller.stats.customRacialChaBonus"/>
                </td>
                <td>+</td>
                <td class="cell summand min-input" cloak-field data-model="controller.stats.chaBonus">
                    <input type="number" ng-model="controller.stats.chaBonus" />
                </td>
            </tr>
            <tr>
                <td class="major-label">CHA</td>
                <td></td>
                <td class="label">Charisma</td>
                <td></td>
                <td class="label">Racial</td>
                <td></td>
                <td class="label">Misc</td>
            </tr>
        </table>
    </div>		
</div>