/*    Styles for application    */
@page {
  size: A4;
  margin: 0;
}
@media screen {
  .app {
    padding: 10px;
  }
}
@media print {
  .app {
    padding: 0;
    margin: 0;
  }
  .page-break {
    display: none;
  }
  .non-printable {
    display: none;
  }
  .a4-sheet {
    border: none !important;
    height: 301mm !important;
  }
}
@font-face {
  font-family: dungeonFont;
  src: url('../../fonts/dalelands_uncial.otf');
}
.app .a4-sheet {
  margin: 0 auto;
  padding: 5mm;
  border: 1px black solid;
  width: 210mm;
  height: 297mm;
}
.app .page-break {
  min-height: 10px;
  width: 100%;
}

.component {
  width: 100%;
  margin-bottom: 10px;
}
.component .header {
  background-color: #808080;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 2px 10px;
  text-align: center;
  font-family: dungeonFont, sans-serif;
}
.component .label {
  font-size: 8pt;
  color: #333333;
}
.component .major-label {
  font-size: 9pt;
  color: #222222;
}
.component table.fixed-table {
  table-layout: fixed;
}
.component .left {
  float: left;
  margin-right: 6px;
}


/*    Styles for menu    */
@media screen {
  .menu {
    position: fixed;
    right: 10px;
    top: 10px;
    max-height: 90%;
    overflow-y: auto;
  }
}
@media print {
  .menu {
    display: none;
  }
}
.menu {
  background-color: white;
  min-width: 130px;
  border: 1px #dddddd solid;
  border-radius: 4px;
  padding: 15px 5px;
}
.menu .logo {
  text-align: center;
}
.menu .logo img {
  width: 100px;
  height: 50px;
}
.menu .section {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px #dddddd solid;
}
.menu .section .header {
  font-size: 10pt;
  color: #666666;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}
.menu .layout-block {
  margin: 4px 0;
}
.menu .layout-block .layout-icon {
  height: 20px;
  line-height: 20px;
  border: 1px solid black;
  text-align: center;
  font-size: 8pt;
  display: inline-block;
}
.menu .layout-control {
  border: 1px solid black;
  padding: 2px 10px;
  margin: 4px 0;
}

.abilities.component .ability .name {
  font-size: 12px;
}
.abilities.component .ability .short-description {
  font-size: 8pt;
}

.armor.component .armor-container {
  margin-top: 4px;
}
.armor.component .armor-container .labeled-input {
  margin-top: 0;
  vertical-align: top;
}
.armor.component .armor-container .type-data {
  min-width: 100px;
}
.armor.component .numberInput {
  width: 35px;
}
.armor.component .numberInput,
.armor.component .checkbox-input {
  text-align: center;
}

.armor-class.component .label {
  width: 39px;
}

.component.attacks .attack-container .params-block {
  width: 49%;
  vertical-align: top;
}
.component.attacks .attack-container .params-block .range-container {
  margin-top: 4px;
}
.component.attacks .attack-container .params-block .range-container .type-data {
  width: 49%;
}
.component.attacks .attack-container .params-block .range-container .range-data {
  width: 24%;
}
.component.attacks .attack-container .params-block .range-container .is-ranged-data {
  width: 20%;
}
.component.attacks .attack-container .params-block .range-container .labeled-input {
  margin-top: 0;
  vertical-align: top;
}
.component.attacks .attack-container .stats-block {
  width: 49%;
}
.component.attacks .attack-container .stats-block .cell.total {
  width: 96px;
}
.component.attacks .attack-container .stats-block .weapon-damage {
  width: 96px;
}
.component.attacks .attack-container .stats-block .fillable-formula {
  margin-top: 0;
}
.component.attacks .attack-container:nth-child(even) {
  background-color: #E0E0E0;
}

.character.component .character-params-container {
  display: flex;
  flex-direction: row;
}
.character.component .character-params-container .alignment .alignment-hor-label {
  text-align: center;
}
.character.component .character-params-container .alignment .left-label {
  transform-origin: 60% 20%;
}
.character.component .character-params-container .alignment .right-label {
  transform-origin: 30% 110%;
}
.character.component .character-params-container .character-params {
  vertical-align: top;
  align-self: stretch;
  flex: 1;
}
.character.component .character-params-container .character-params .character-params-row {
  margin-top: 4px;
  display: flex;
}
.character.component .character-params-container .character-params .character-params-row .inline-block {
  vertical-align: top;
}
.character.component .character-params-container .character-params .character-params-row .inline-block.name-data,
.character.component .character-params-container .character-params .character-params-row .inline-block.race-data {
  margin: 0 4px;
  width: 150px;
}
.character.component .character-params-container .character-params .character-params-row .inline-block.background-data,
.character.component .character-params-container .character-params .character-params-row .inline-block.size-data {
  flex: 1;
  margin: 0 4px;
}
.character.component .character-params-container .character-params .character-params-row .inline-block.sex-data {
  width: 70px;
}
.character.component .character-params-container .character-params .character-params-row .inline-block.sex-data .inline-block {
  vertical-align: bottom;
}
.character.component .effective-level,
.character.component .proficiency-bonus {
  font-size: 14px;
}
.character.component .char-class {
  width: 140px;
}
.character.component .char-hd,
.character.component .char-lvl {
  width: 40px;
}
.character.component .path {
  height: 21px;
  width: 150px;
}

.common-inventory.component tr {
  max-width: 143px;
}
.common-inventory.component input[type=text] {
  width: 100%;
}
.common-inventory.component input[type=number] {
  width: 50px;
}
.common-inventory.component .total-weight {
  font-size: 14px;
}
.common-inventory.component .item-weight,
.common-inventory.component .item-quantity {
  width: 55px;
}

.death-saves.component span {
  float: left;
}
.death-saves.component .deathSaves-right {
  float: right;
}
.death-saves.component .deathSaves-container {
  height: 18px;
}

.hit-points.component table {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.hit-points.component .total {
  width: 30px;
}
.hit-points.component .input {
  height: 18px;
}
.hit-points.component .current-hitpoints .text {
  padding-left: 7px;
}

.initiative.component .cell.feat {
  width: 30px;
}

.logo.component img {
  width: 50px;
  height: 25px;
  vertical-align: top;
}
.logo.component span {
  color: #FF0000;
  font-family: dungeonFont, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  vertical-align: bottom;
}

.money.component .money-container {
  width: 47px;
  vertical-align: top;
}
.money.component .total-block {
  margin-top: 4px;
}

.portrait.component .canvas {
  min-width: 240px;
  min-height: 320px;
}

.saveThrows.component .major-label,
.saveThrows.component .label {
  width: 52px;
}
.saveThrows.component .checkbox-container {
  text-align: center;
  vertical-align: middle;
}

.shield.component .shield-container {
  margin-top: 4px;
  width: 100%;
}
.shield.component .shield-container .inline-block {
  vertical-align: top;
  margin-top: 0;
}
.shield.component .input {
  height: 21px;
}
.shield.component .input input[type=number] {
  width: 33px;
}
.shield.component .textInput {
  text-align: left;
  width: 100%;
}
.shield.component .numberInput {
  text-align: center;
}

.skills.component .right {
  float: right;
  padding: 0;
  text-align: right;
}
.skills.component .is-proficient {
  min-width: 20px;
  min-height: 22px;
}
.skills.component .misc-bonus {
  width: 38px;
  min-height: 22px;
}
.skills.component .custom {
  margin-left: 20px;
}

.spells-table {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.spells-table thead {
  font-weight: bold;
  color: #666666;
  font-size: 12px;
  padding: 2px 10px;
  text-align: center;
}
.spells-table tbody {
  padding: 2px 10px;
}
.spells-table tbody .spell-cell {
  width: 100%;
  height: 20px;
  border-bottom: 1px dotted #888888;
}

.stats.component .major-label,
.stats.component .label {
  width: 52px;
}

table.common-table {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
table.common-table thead {
  font-weight: bold;
  color: #666666;
  font-size: 12px;
  padding: 2px 10px;
  text-align: center;
}
table.common-table tbody {
  font-size: 14px;
  padding: 2px 10px;
  text-align: center;
}
table.common-table tbody tr td {
  border-bottom: 1px dotted #333333;
  height: 20px;
}
table.common-table tbody tr td.total {
  border: 1px solid #333333;
}
table.common-table tr td:first-child {
  text-align: left;
}

.fillable-formula {
  margin-top: 4px;
}
.fillable-formula .label,
.fillable-formula .major-label {
  text-align: center;
}
.fillable-formula .cell {
  padding: 2px 0;
  width: 22px;
  text-align: center;
}
.fillable-formula .cell.total {
  border: 1px solid #333333;
}
.fillable-formula .cell.summand {
  border-bottom: 1px solid #888888;
}
.fillable-formula .cell.min-input input {
  width: 30px;
}
.fillable-formula .cell div {
  width: 100%;
  min-height: 20px;
}

.rotate270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.inline-block {
  display: inline-block;
}

.labeled-input {
  margin-top: 4px;
}
.labeled-input .label {
  font-size: 8pt;
  color: #333333;
}
.labeled-input .cloakFieldContainer {
  height: 18px;
  border-bottom: 1px solid #888888;
}
.labeled-input.bottom-label .label {
  text-align: center;
  margin-top: 4px;
}

input[type=radio].custom {
  display: none;
}
input[type=radio].custom + label span {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #333333;
}
input[type=radio].custom:checked + label span {
  background-color: #FF0000;
}

.cloakFieldContainer {
  display: flex;
  height: 100%;
  width: 100%;
}
.cloakFieldContainer .cloakField {
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.cloakFieldContainer .cloakField input:not([type="checkbox"]),
.cloakFieldContainer .cloakField select,
.cloakFieldContainer .cloakField .autosuggest-dropdown {
  width: 100%;
  height: 100%;
}

@media print {
  .container-box {
    border: none;
  }
}
@media screen {
  .app.edit-mode .container .container-box {
    border: 1px solid black;
  }
}
.container {
  width: 100%;
  min-height: 50px;
  display: flex;
}
.container .container-box {
  display: inline-block;
  min-height: 50px;
  box-sizing: border-box;
  padding: 5px;
  vertical-align: top;
  align-items: stretch;
}
.container .container-box :hover .drag-zone {
  width: 100%;
  height: 20px;
}
.always-drop {
  height: 30px;
}
.drop-zone {
  display: none;
}
[ng-drop].drag-enter > .drop-zone {
  background-color: powderblue;
  height: 30px;
  display: block;
}
